<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accesorios">
  <item label="Galculator">
    <action name="Execute">
      <command>galculator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editores">
  <item label="VS-Code">
    <action name="Execute">
      <command>code</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>code</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminales">
  <item label="LXTerminal">
    <action name="Execute">
      <command>lxterminal</command>
    </action>
  </item>
  <item label="WaveTerm">
    <action name="Execute">
        <command>/home/wilovy/waveterm/Wave-linux-x64/Wave</command>
        <startupnotify>
            <enabled>yes</enabled>
            <wmclass>waveterm</wmclass>
        </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Brave">
    <action name="Execute">
      <command>brave</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>brave</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <!-- <item label="OpenOffice Base">
    <action name="Execute">
      <command>ooffice -base</command>
    </action>
  </item> -->
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Spotify">
    <action name="Execute">
      <command>spotify</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="Exploradores">
  <item label="Nautilus">
    <action name="Execute">
      <command>nautilus --no-desktop --browser</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Grafico">
  <!-- <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item> -->
</menu>

<menu id="system-menu" label="Sistema">
  <item label="OB Config 🛠">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Nitrogen 🖼">
    <action name="Execute">
      <command>nitrogen</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigurar OB">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Aplicaciones" />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="Sistema" />
  <menu id="system-menu"/>
  <separator />
  <item label="Cerrar sesion">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
